<div class="ingredient-container">
  <div class="field">
    <% @count=f.options[:child_index] %>
    <%= f.label :ingredient %>
    <%= f.autocomplete_field :ingredient, autocomplete_ingredient_name_user_bar_recipe_ingredients_path, id_element: "#recipe_recipe_ingredients_attributes_#{@count}_ingredient_id", :scopes => [:my_ingredients]  %>
  </div>
  <%= f.hidden_field :ingredient_id%>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, id: :recipe_ingredient_quantity %>
  </div>
  <%= f.hidden_field :_destroy %>
  <div class="field">
    <%= link_to "X", '#', onClick: "removeField(this); return false;" %>
  </div>
</div>