<div class="ingredient-container">
  <div class="field">
    <label for="ingredients-list">Choose an Ingredient</label>
    <input list="ingredients" id="ingredients-list" name="ingredients-list" />
    <datalist id="ingredients">
      <% @ingredients.each do |ingredient| %>
        <option value="<%= ingredient.name %>"></option>
      <% end %>
    </datalist>
  </div>
  <%= f.hidden_field :ingredient_id%>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, id: :recipe_ingredient_quantity %>
  </div>
  <%= f.hidden_field :_destroy %>
  <div class="field">
    <%= link_to "X", '#', onClick: "removeField(this); return false;" %>
  </div>
</div>