<main>
  <p id="notice"><%= notice %></p>
  <header>
    <h1>Recipes</h1>
    <div class="search">
      <%= form_tag(user_bar_recipes_path(@user), method: 'get', remote: 'true', id: 'rec-search-form') do %>
        <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search", type: "search", data: {autocomplete: autocomplete_recipe_name_user_bar_recipes_path}, class: 'search-input' %>  
        <%= submit_tag "Search", class: 'btn-search' %>
      <%end%>
    </div>
  </header>

  <div class="container flex-container ingredient-container">
    <%= render 'recipes/recipe', recipes: @recipes %>
  </div>
</main>