<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<% @ingredients.each do |rec_ing| %>
  <p>
    <strong>Ingredient:</strong>
    <%= rec_ing.quantity %>
    <%= rec_ing.ingredient.name %>
  </p>
<% end %>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<%= link_to 'Edit', edit_user_bar_recipe_path(@user, @bar, @recipe) %> |
<%= link_to 'Back', user_bar_recipes_path(@user, @bar, @recipe) %>
