<%= form_for([user,bar]) do |form| %>
  <% if bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% bar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bar_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
