<main>
  <p id="notice"><%= notice %></p>
  <header>
    <nav class="flex-container">
      <%= link_to 'Manage Bar Stock', user_bar_ingredients_path(@user,@bar), class: 'btn flex-item' %>
      <%= link_to "Recipes", user_bar_recipes_path(@user, @bar), class: 'btn flex-item'%>
      <%= link_to "Ingredients", user_bar_ingredients_path(@user, @bar), class: 'btn flex-item'%>
      <%= link_to "Bar", user_bar_path(@user, @bar), class: 'btn flex-item'%>
    </nav>
    <h1><%= @bar.name %></h1>
  </header>
  <div class="container flex-container">
    <% @bar.ingredients.each do |ingredient| %>
      <% if ingredient.in_stock %>
        <section class="flex-item">
          <h3><%= ingredient.name %></h3>
          <figure>
            <%= image_tag("me", size: "200x200") %>
            <figcaption>
              <%= ingredient.description %>
            </figcaption>
          </figure>
        </section>
      <% end -%>
    <% end -%>
  </div>
</main>
