<% @ingredients.each do |ingredient| %>
  <section class="ingredient flex-item" data-id="<%= ingredient.id %>">
    <h3><%= ingredient.name %></h3>
    <figure>
      <%= image_tag("me", size: "150x150") %>
      <figcaption>
        <p>
          <%= ingredient.description %>              
        </p>
        <%= link_to 'Edit', edit_user_bar_ingredient_path(@user, @bar, ingredient), class: "btn flex-item" %>
        <%= link_to 'Destroy', user_bar_ingredient_path(@user, @bar, ingredient), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn flex-item" %>
        <label class="check-container" for="in_stock">In Stock:</label>
        <%= check_box_tag('in_stock', "true", ingredient.in_stock, 
                                          data: {
                                            id: ingredient.id,
                                            remote: true,
                                            url: url_for(
                                              controller: 'ingredients',
                                              action: 'toggle',
                                              id: ingredient.id),
                                            method: "POST"
                                          }, class: 'checkmark' ) %>
        
      </figcaption>
    </figure>
  </section>
  <script type="text/javascript">
  $(function() {
    if (!$('#in_stock[data-id="<%= ingredient.id %>"]').prop("checked")) {
      $('section.ingredient[data-id="<%= ingredient.id %>"]').addClass("red-bg");
    }
  });
  </script>
<% end -%>
