<main>
  <p id="notice"><%= notice %></p>
  <header>
    <h1>Ingredients</h1>
    <button class="btn">
      <%= link_to 'Manage Bar Stock', user_bar_ingredients_path(@user,@bar) %>
    </button>
    <button class="btn">
      <%= link_to 'New Ingredient', new_user_bar_ingredient_path(@user) %>
    </button>
    <button class="btn">
      <%= link_to 'Back', user_bar_ingredients_path(@user) %>
    </button>
    <button class="btn">
        <label for='type'>Type:<label/>
        <%= collection_select :ingredient, :type_id, Type.all, :id, :name, {prompt: "Filter By:"}, {
          data: { remote: true, url: filter_user_bar_ingredients_url}
        } %>
    </button>
  </header>
  <div class="container flex-container ingredient-container">
    <% if current_page?(action: 'index') %>
        <%= render 'ingredients/ingredient', collection: @ingredients %>
    <% end -%>
  </div>
</main>
