<!-- delete -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>type:</strong>
  <%= @ingredient.type_name(@ingredient.type_id) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<%= link_to 'Edit', edit_user_bar_ingredient_path(@user, @bar, @ingredient) %> |
<%= link_to 'Back', user_bar_ingredients_path %>
